<header-directive></header-directive>

<div class="about-body">
   <h1 class="about-heading">{{message}}</h1>
   <div class="funny-trump">
     <img src="styles/img/Funny-trump.jpg">
   </div>
  <p>
   Donald John Trump born June 14, 1946 is an American businessman, politician, and the President-elect of the United States. He is scheduled to take office on January 20, 2017.
Trump was born and raised in the Queens borough of New York City and received a bachelor's degree in economics from the Wharton School of the University of Pennsylvania in 1968. In 1971, he took control of his family's real estate and construction firm, Elizabeth Trump & Son, which was later renamed The Trump Organization. During his career, Trump has built, renovated or managed numerous office towers, hotels, casinos, and golf courses. He also lent the use of his name to brand various other products. He owned the Miss USA and Miss Universe pageants from 1996 to 2015, and has made cameo appearances in films and television series. From 2004 to 2015, Trump hosted and co-produced The Apprentice, a reality television series on NBC. As of 2016, Forbes listed him as the 324th wealthiest person in the world (113th in the United States) with a net worth of $4.5 billion, which would make him the wealthiest president in U.S. history.
</p>
</div>
