<header-directive></header-directive>

<div class="media-body">
  <h4 class="media-heading">{{message}}</h4>
  <a href="https://twitter.com/realDonaldTrump" target="_blank">
    <div class="twitter-icon">
      <img src="styles/img/twitter-icon.png">
    </div>
  </a>
  <a href="https://www.facebook.com/DonaldTrump/" target="_blank">
    <div class="facebook-icon">
      <img src="styles/img/facebook-icon.png">
    </div>
  </a>
  <a href="https://www.donaldjtrump.com/" target="_blank">
    <div class="website-icon">
      <img src="styles/img/trump-icon.png">
    </div>
  </a>
  <a href="https://www.reddit.com/r/The_Donald/" target="_blank">
    <div class="reddit">
      <img src="styles/img/reddit-icon.png">
    </div>
  </a>
</div>
